# Add here external Python modules dependencies, one per line. Module names
# should match https://pypi.python.org/pypi names. For the full spec or
# dependency lines, see https://pip.readthedocs.org/en/1.1/requirements.html
requests
aiohttp != 3.7.4.post0
ndjson
plotly
pandas
numpy
dash
dash_bootstrap_components
flask
dulwich
importlib-metadata
