aioresponses
asynctest
pytest < 7.0.0  # v7.0.0 removed _pytest.tmpdir.TempdirFactory, which is used by some of the pytest plugins we use
pytest-asyncio
pytest-flask
pytest-mock
swh.core[testing-core]
swh.model[testing]
types-pyyaml
